In [1]:
import pandas as pd

In [9]:
time_df = pd.read_excel("./bus.xlsx")
time_df

    Parada        Lat        Lon      Time
0        4  18.403636 -66.045492  09:00:00
1        5  18.403751 -66.046593  09:00:31
2        6  18.403879 -66.048199  09:01:05
3       13  18.403955 -66.049898  09:01:44
4       24  18.404698 -66.050468  09:02:49
5       23  18.406440 -66.050140  09:03:18
6       20  18.407062 -66.049323  09:03:49
7       19  18.406503 -66.048520  09:04:05
8        9  18.406018 -66.047806  09:04:29
9       10  18.406766 -66.046771  09:05:08
10      11  18.406078 -66.044770  09:05:53
11       2  18.406240 -66.043161  09:07:23
12       1  18.407170 -66.041989  09:08:03
13       2  18.406240 -66.043161  09:09:27
14       3  18.404856 -66.044836  09:10:53
15       4  18.403636 -66.045492  09:11:45
16       5  18.403751 -66.046593  09:12:04
17       6  18.403879 -66.048199  09:12:56
18      13  18.403955 -66.049898  09:13:21

## Changing pinned data to parada data

In [21]:
new_data=[{"acceleration":0.0,"id":8,"lat":18.4042051,"lon":-66.0464923,"time":"9:24:32"},{"acceleration":0.0,"id":9,"lat":18.4041236,"lon":-66.0477536,"time":"9:24:57"},{"acceleration":0.0,"id":10,"lat":18.4040048,"lon":-66.0486282,"time":"9:25:29"},{"acceleration":0.0,"id":11,"lat":18.4034437,"lon":-66.0499692,"time":"9:26:11"},{"acceleration":0.0,"id":12,"lat":18.4041781,"lon":-66.0503215,"time":"9:26:41"},{"acceleration":0.0,"id":13,"lat":18.4063608,"lon":-66.0497845,"time":"9:27:25"},{"acceleration":0.0,"id":14,"lat":18.4060342,"lon":-66.0449642,"time":"9:29:46"},{"acceleration":0.0,"id":15,"lat":18.4052209,"lon":-66.0449442,"time":"9:30:36"},{"acceleration":0.0,"id":16,"lat":18.407417,"lon":-66.0417515,"time":"9:32:8"},{"acceleration":0.037264879792928696,"id":17,"lat":18.407056,"lon":-66.0426413,"time":"9:35:5"},{"acceleration":0.037264879792928696,"id":18,"lat":18.407056,"lon":-66.0426413,"time":"9:35:5"},{"acceleration":0.0,"id":19,"lat":18.4041488,"lon":-66.0449767,"time":"9:38:14"},{"acceleration":0.0,"id":20,"lat":18.4036222,"lon":-66.0455192,"time":"9:40:8"},{"acceleration":0.0,"id":21,"lat":18.403989,"lon":-66.0486131,"time":"9:41:23"},{"acceleration":0.0,"id":22,"lat":18.403451,"lon":-66.0498986,"time":"9:42:15"},{"acceleration":0.0,"id":23,"lat":18.4068182,"lon":-66.0495352,"time":"9:44:1"},{"acceleration":6.5661702156066895,"id":24,"lat":18.4060559,"lon":-66.0447299,"time":"9:46:15"},{"acceleration":4.489999771118164,"id":25,"lat":18.4061844,"lon":-66.0432908,"time":"9:49:11"},{"acceleration":0.2635858356952667,"id":26,"lat":18.4068558,"lon":-66.0426278,"time":"9:49:40"},{"acceleration":0.0,"id":27,"lat":18.4070537,"lon":-66.0394418,"time":"9:50:34"},{"acceleration":5.126250267028809,"id":28,"lat":18.406163,"lon":-66.0431124,"time":"9:53:31"},{"acceleration":0.0,"id":29,"lat":18.4041882,"lon":-66.044959,"time":"9:56:6"},{"acceleration":0.0,"id":30,"lat":18.4036284,"lon":-66.0455085,"time":"9:57:56"},{"acceleration":0.0,"id":31,"lat":18.4033756,"lon":-66.0462005,"time":"9:58:35"},{"acceleration":5.01469612121582,"id":32,"lat":18.403917,"lon":-66.0478909,"time":"9:59:4"},{"acceleration":5.99781608581543,"id":33,"lat":18.4038783,"lon":-66.0497308,"time":"10:0:6"}]
new_data

[{'acceleration': 0.0,
  'id': 8,
  'lat': 18.4042051,
  'lon': -66.0464923,
  'time': '9:24:32'},
 {'acceleration': 0.0,
  'id': 9,
  'lat': 18.4041236,
  'lon': -66.0477536,
  'time': '9:24:57'},
 {'acceleration': 0.0,
  'id': 10,
  'lat': 18.4040048,
  'lon': -66.0486282,
  'time': '9:25:29'},
 {'acceleration': 0.0,
  'id': 11,
  'lat': 18.4034437,
  'lon': -66.0499692,
  'time': '9:26:11'},
 {'acceleration': 0.0,
  'id': 12,
  'lat': 18.4041781,
  'lon': -66.0503215,
  'time': '9:26:41'},
 {'acceleration': 0.0,
  'id': 13,
  'lat': 18.4063608,
  'lon': -66.0497845,
  'time': '9:27:25'},
 {'acceleration': 0.0,
  'id': 14,
  'lat': 18.4060342,
  'lon': -66.0449642,
  'time': '9:29:46'},
 {'acceleration': 0.0,
  'id': 15,
  'lat': 18.4052209,
  'lon': -66.0449442,
  'time': '9:30:36'},
 {'acceleration': 0.0,
  'id': 16,
  'lat': 18.407417,
  'lon': -66.0417515,
  'time': '9:32:8'},
 {'acceleration': 0.037264879792928696,
  'id': 17,
  'lat': 18.407056,
  'lon': -66.0426413,
  'time': '9:35:5'},
 {'acceleration': 0.037264879792928696,
  'id': 18,
  'lat': 18.407056,
  'lon': -66.0426413,
  'time': '9:35:5'},
 {'acceleration': 0.0,
  'id': 19,
  'lat': 18.4041488,
  'lon': -66.0449767,
  'time': '9:38:14'},
 {'acceleration': 0.0,
  'id': 20,
  'lat': 18.4036222,
  'lon': -66.0455192,
  'time': '9:40:8'},
 {'acceleration': 0.0,
  'id': 21,
  'lat': 18.403989,
  'lon': -66.0486131,
  'time': '9:41:23'},
 {'acceleration': 0.0,
  'id': 22,
  'lat': 18.403451,
  'lon': -66.0498986,
  'time': '9:42:15'},
 {'acceleration': 0.0,
  'id': 23,
  'lat': 18.4068182,
  'lon': -66.0495352,
  'time': '9:44:1'},
 {'acceleration': 6.5661702156066895,
  'id': 24,
  'lat': 18.4060559,
  'lon': -66.0447299,
  'time': '9:46:15'},
 {'acceleration': 4.489999771118164,
  'id': 25,
  'lat': 18.4061844,
  'lon': -66.0432908,
  'time': '9:49:11'},
 {'acceleration': 0.2635858356952667,
  'id': 26,
  'lat': 18.4068558,
  'lon': -66.0426278,
  'time': '9:49:40'},
 {'acceleration': 0.0,
  'id': 27,
  'lat': 18.4070537,
  'lon': -66.0394418,
  'time': '9:50:34'},
 {'acceleration': 5.126250267028809,
  'id': 28,
  'lat': 18.406163,
  'lon': -66.0431124,
  'time': '9:53:31'},
 {'acceleration': 0.0,
  'id': 29,
  'lat': 18.4041882,
  'lon': -66.044959,
  'time': '9:56:6'},
 {'acceleration': 0.0,
  'id': 30,
  'lat': 18.4036284,
  'lon': -66.0455085,
  'time': '9:57:56'},
 {'acceleration': 0.0,
  'id': 31,
  'lat': 18.4033756,
  'lon': -66.0462005,
  'time': '9:58:35'},
 {'acceleration': 5.01469612121582,
  'id': 32,
  'lat': 18.403917,
  'lon': -66.0478909,
  'time': '9:59:4'},
 {'acceleration': 5.99781608581543,
  'id': 33,
  'lat': 18.4038783,
  'lon': -66.0497308,
  'time': '10:0:6'}]

parada_data =
    [{
      key: 4,
      title: 'Parada 4: Ciencias Naturales',
      coordinates: {
        latitude: 18.403636,
        longitude: -66.045492
      },
    },
    {
      key: 5,
      title: 'Parada 5: Paseo Peatonal',
      coordinates: {
        latitude: 18.403751,
        longitude: -66.046593
      },  
    },
    {
      key: 6,
      title: 'Parada 6: Parque del Centenario',
      coordinates: {
        latitude: 18.403879,
        longitude: -66.048199
      },  
    },
    {
      key: 13,
      title: 'Parada 13: Biblioteca Lazaro',
      coordinates: {
        latitude: 18.403955,
        longitude: -66.049898
      },  
    },
  
    {
      key: 24,
      title: 'Parada 24: Hogar Masonico',
      coordinates: {
        latitude: 18.404698,
        longitude: -66.050468
      },  
    },
    {
      key: 23,
      title: 'Parada 23: Estacionamiento Sociales',
      coordinates: {
        latitude: 18.406440,
        longitude: -66.050140
      },  
    },
    {
      key: 20,
      title: 'Parada 20: Estacionamiento Derecho',
      coordinates: {
        latitude: 18.407062,
        longitude: -66.049323
      },  
    },
    {
      key: 19,
      title: 'Parada 19: Administracion de Empresas',
      coordinates: {
        latitude: 18.406503,
        longitude: -66.048520
      },  
    },
    {
      key: 9, 
      title: 'Parada 9: Cuatro Grandes',
      coordinates: {
        latitude: 18.406018,
        longitude: -66.047806
      },  
    },
    {
      key: 10,
      title: 'Parada 10: Complejo Deportivo',
      coordinates: {
        latitude: 18.406766,
        longitude: -66.046771
      },  
    },
    {
      key: 11,
      title: 'Parada 11: Talleres',
      coordinates: {
        latitude: 18.406078,
        longitude: -66.044770
      },  
    },
    {
      key: 2,
      title: 'Parada 2: ROTC Entrada',
      coordinates: {
        latitude: 18.406243,
        longitude: -66.043161
      },  
    },
    {
      key: 1,
      title: 'Parada 1: ROTC Estacionamiento',
      coordinates: {
        latitude: 18.407170,
        longitude: -66.041989
      },  
    },
    {
      key: 3,
      title: 'Parada 3: Estudios Generales',
      coordinates: {
        latitude: 18.404856,
        longitude: -66.044836
      },  
    }]

In [36]:
#terrible but
import math

paradas = {
    4: {
    'lat':18.403636,
    'lon': -66.045492
},
5: {
    'lat': 18.403751,
     'lon': -66.046593
},
6:
 {

   
        'lat': 18.403879,
        'lon': -66.048199
       
    },
13:
    {
      
        'lat': 18.403955,
        'lon': -66.049898
        
    },
24: {
        'lat': 18.404698,
        'lon': -66.050468
      },  
23: {
        'lat': 18.406440,
        'lon': -66.050140
      },  
    

20: {
        'lat': 18.407062,
        'lon': -66.049323
       
    },
    19:{
     
        'lat': 18.406503,
        'lon': -66.048520
       
    },
9: {
        'lat': 18.406018,
        'lon': -66.047806
      },  
    
   10: {
        'lat': 18.406766,
        'lon': -66.046771
      },  
    
11: {
        'lat': 18.406078,
        'lon': -66.044770
      },  

   '2.1': {
        'lat': 18.406243,
        'lon': -66.043161
      },  
    
   1: {
        'lat' : 18.407170,
        'lon' : -66.041989
      }, 

   '2.2': {
        'lat': 18.406243,
        'lon': -66.043161
      },  
    
    3: {
        'lat': 18.404856,
        'lon': -66.044836
      },  
    }


print(list(paradas.keys()))

# def map_paradas_to_lat_lon(row_entry):
#     all_paradas = list(paradas.keys())
#     len_paradas = len(all_paradas)

#     for i in range(len(all_paradas)):
#         pivot_parada = all_paradas[i]
#         next_parada = all_paradas[(i+1) % len_paradas]
#         dif_lat = abs(abs(paradas[pivot_parada]['lat']) - abs(paradas[next_parada]['lat']))
#         dif_lon =  abs(abs(paradas[pivot_parada]['lon']) - abs(paradas[next_parada]['lon']))

#         dif_lat_from_pos =  abs(abs(row_entry['lat']) - abs(paradas[pivot_parada]['lat']))
#         dif_lon_from_pos = abs(abs(row_entry['lon']) - abs(paradas[pivot_parada]['lon']))

#         if dif_lat_from_pos <= dif_lat/2 and dif_lon_from_pos <= dif_lon/2:
#             print('position is', pivot_parada)
#             return pivot_parada


#     print('wa wa', row_entry)
#     return None


def shortest_distance_from_point(row_entry, paradas):


    #calculate shortest distance

    shortest_distance = 9999999
    pinpoint_parada = None

    for parada in paradas:
        coords = paradas[parada]
        distance = math.sqrt(((row_entry['lat'] - coords['lat'])**2) + ((row_entry['lon']-coords['lon'])**2))

        if shortest_distance> distance:
            shortest_distance = distance
            pinpoint_parada = parada

    return shortest_distance, pinpoint_parada

        
    
        
        
for entry in new_data:
    print(entry)
    print(shortest_distance_from_point(entry, paradas))


# def map_paradas_to_lat_lon(row_entry):
    

#     if row_entry['lat'] -parada_4 <= 0.000057

[4, 5, 6, 13, 24, 23, 20, 19, 9, 10, 11, '2.1', 1, '2.2', 3]
{'acceleration': 0.0, 'id': 8, 'lat': 18.4042051, 'lon': -66.0464923, 'time': '9:24:32'}
(0.00046513148678614354, 5)
{'acceleration': 0.0, 'id': 9, 'lat': 18.4041236, 'lon': -66.0477536, 'time': '9:24:57'}
(0.0005081439953425182, 6)
{'acceleration': 0.0, 'id': 10, 'lat': 18.4040048, 'lon': -66.0486282, 'time': '9:25:29'}
(0.0004472563917924142, 6)
{'acceleration': 0.0, 'id': 11, 'lat': 18.4034437, 'lon': -66.0499692, 'time': '9:26:11'}
(0.0005162336002242959, 13)
{'acceleration': 0.0, 'id': 12, 'lat': 18.4041781, 'lon': -66.0503215, 'time': '9:26:41'}
(0.00047867093080410593, 13)
{'acceleration': 0.0, 'id': 13, 'lat': 18.4063608, 'lon': -66.0497845, 'time': '9:27:25'}
(0.0003642154444804827, 23)
{'acceleration': 0.0, 'id': 14, 'lat': 18.4060342, 'lon': -66.0449642, 'time': '9:29:46'}
(0.00019907807513223045, 11)
{'acceleration': 0.0, 'id': 15, 'lat': 18.4052209, 'lon': -66.0449442, 'time': '9:30:36'}
(0.00038060379661881814, 3)
{'acceleration': 0.0, 'id': 16, 'lat': 18.407417, 'lon': -66.0417515, 'time': '9:32:8'}
(0.0003426590871372721, 1)
{'acceleration': 0.037264879792928696, 'id': 17, 'lat': 18.407056, 'lon': -66.0426413, 'time': '9:35:5'}
(0.0006621867485825394, 1)
{'acceleration': 0.037264879792928696, 'id': 18, 'lat': 18.407056, 'lon': -66.0426413, 'time': '9:35:5'}
(0.0006621867485825394, 1)
{'acceleration': 0.0, 'id': 19, 'lat': 18.4041488, 'lon': -66.0449767, 'time': '9:38:14'}
(0.0007210605591744091, 3)
{'acceleration': 0.0, 'id': 20, 'lat': 18.4036222, 'lon': -66.0455192, 'time': '9:40:8'}
(3.050049180299572e-05, 4)
{'acceleration': 0.0, 'id': 21, 'lat': 18.403989, 'lon': -66.0486131, 'time': '9:41:23'}
(0.000428460978386843, 6)
{'acceleration': 0.0, 'id': 22, 'lat': 18.403451, 'lon': -66.0498986, 'time': '9:42:15'}
(0.0005040003571421327, 13)
{'acceleration': 0.0, 'id': 23, 'lat': 18.4068182, 'lon': -66.0495352, 'time': '9:44:1'}
(0.0003232139848411301, 20)
{'acceleration': 6.5661702156066895, 'id': 24, 'lat': 18.4060559, 'lon': -66.0447299, 'time': '9:46:15'}
(4.578667929268498e-05, 11)
{'acceleration': 4.489999771118164, 'id': 25, 'lat': 18.4061844, 'lon': -66.0432908, 'time': '9:49:11'}
(0.00014241488685855892, '2.1')
{'acceleration': 0.2635858356952667, 'id': 26, 'lat': 18.4068558, 'lon': -66.0426278, 'time': '9:49:40'}
(0.0007118897948466034, 1)
{'acceleration': 0.0, 'id': 27, 'lat': 18.4070537, 'lon': -66.0394418, 'time': '9:50:34'}
(0.0025498536291276457, 1)
{'acceleration': 5.126250267028809, 'id': 28, 'lat': 18.406163, 'lon': -66.0431124, 'time': '9:53:31'}
(9.360534172810994e-05, '2.1')
{'acceleration': 0.0, 'id': 29, 'lat': 18.4041882, 'lon': -66.044959, 'time': '9:56:6'}
(0.0006790330183420616, 3)
{'acceleration': 0.0, 'id': 30, 'lat': 18.4036284, 'lon': -66.0455085, 'time': '9:57:56'}
(1.8166177364324367e-05, 4)
{'acceleration': 0.0, 'id': 31, 'lat': 18.4033756, 'lon': -66.0462005, 'time': '9:58:35'}
(0.0005431219108105439, 5)
{'acceleration': 5.01469612121582, 'id': 32, 'lat': 18.403917, 'lon': -66.0478909, 'time': '9:59:4'}
(0.0003104345502658939, 6)
{'acceleration': 5.99781608581543, 'id': 33, 'lat': 18.4038783, 'lon': -66.0497308, 'time': '10:0:6'}
(0.00018395306465986833, 13)

## Check if the difference matches somehow

In [18]:
from datetime import datetime, date

paradas_of_interest = [4,5,6,13]
for parada in paradas_of_interest:
    result = time_df[time_df['Parada']==parada]
     
    
    time_delta = datetime.combine(date.today(), result.iloc[1].Time) - datetime.combine(date.today(), result.iloc[0].Time )
    print(f"Parada {parada} time_delta {time_delta}")

Parada 4 time_delta 0:11:45
Parada 5 time_delta 0:11:33
Parada 6 time_delta 0:11:51
Parada 13 time_delta 0:11:37

In [4]:
copy_df  = time_df.copy()

In [8]:
copy_df.Time = pd.to_datetime(copy_df.Time)

TypeError: <class 'datetime.time'> is not convertible to datetime, at position 0